/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.mainTitle {
  font-size: 5rem;
  line-height: 1;
  font-weight: 800;
  letter-spacing: -0.02em;
}

.subtitle {
  font-size: 1.15rem;
  max-width: 900px;
  margin: 1rem auto 2rem;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
  .mainTitle {
    font-size: 3rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
